@media screen and (max-width:576px) {

    :root {
        --primary-color: rgba(87, 87, 87, 1);
        --white-color: #FFFFFF;
    }

    #header {
        background-color: rgba(255, 255, 255, 1);
        padding: 18px 0;
        border-bottom: 1px solid #d1d5db;
    }

    header .navbar {
        max-width: 95%;
    }

    nav .nav-img-div {
        max-width: 134px;
    }

    nav .nav-img-div img {
        width: 100%;
    }

    header .nav-ul {
        display: none;
    }

    header nav .btn {
        display: none;
    }

    .hamburger {
        display: block;
    }




    /* Banner Section */

    #banner-section {
        padding: 60px 20px 40px;
        min-height: 450px;
    }

    .banner-container {
        max-width: 95%;
    }

    .banner-container h2 {
        font-size: 42px;
        line-height: 48px;
        margin-bottom: 12px;
    }

    .banner-container p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .banner-container button {
        font-size: 15px;
        padding: 12px 35px;
    }

}