@media screen and (max-width:576px) {

    :root {
        --primary-color: rgba(87, 87, 87, 1);
        --white-color: #FFFFFF;
    }

    #header {
        background-color: rgba(255, 255, 255, 1);
        padding: 15px 0;
        border-bottom: 1px solid #d1d5db;
    }

    header .navbar {
        max-width: 95%;
    }

    nav .nav-img-div {
        max-width: 134px;
    }

    nav .nav-img-div img {
        width: 100%;
    }

    header .nav-ul {
        display: none;
    }

    header nav .btn {
        display: none;
    }

    .hamburger {
        display: block;
    }




    /* Banner Section */

    #banner-section {
        padding: 60px 20px 40px;
        min-height: 450px;
    }

    .banner-container {
        max-width: 95%;
    }

    .banner-container h2 {
        font-size: 42px;
        line-height: 48px;
        margin-bottom: 12px;
    }

    .banner-container p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .banner-container button {
        font-size: 15px;
        padding: 12px 35px;
    }


    /* Speaker section */


    #speakers {
        max-width: 94%;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    #speakers .heading h2 {
        font-size: 38px;
        font-weight: 700;
        color: #000102;
        margin-bottom: 56px;
        text-align: center;
    }



    .speakers-card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 33px;
    }

    .spearker-card {
        border: 1px solid #E5E7EB;
        border-radius: 8px;
        max-width: 662px;
        overflow: hidden;
    }



    .spearker-card .content {
        padding: 18px;
    }

    .spearker-card .img {
        height: 250px;
        overflow: hidden;
    }

    .spearker-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        transition: transform 0.4s ease;

        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

    }

    .spearker-card:hover img {
        transform: scale(1.05);
    }

    .spearker-card p {
        margin-top: 18px;
        color: #2563EB;
        margin-bottom: 8px;
        font-weight: 600;
    }

    .spearker-card h2 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 8px;
        color: #0D1B2A;
    }

    .spearker-card h4 {
        font-size: 14px;
        line-height: 24px;
        color: #575757;
    }



    /* Pricing card section */

    #pricing-section {
        max-width: 90%;
        margin-bottom: 80px;
    }

    #pricing-section .pricing-heading {
        margin-bottom: 32px;
    }

    #pricing-section .pricing-heading h2 {
        font-size: 36px;
    }

    #pricing-section .pricing-heading p {
        font-size: 14px;
    }

    #pricing-section .pricing-card-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    #pricing-section .pricing-card {
        max-width: 100%;
        padding: 24px;
    }

    .pricing-card .first-part {
        min-height: auto;
    }

    .pricing-card .first-part h2 {
        font-size: 36px;
    }

    .pricing-card .pricing-btn {
        margin-top: 24px;
    }



    /* Genarate section */

    #genarate-section {
        max-width: 94%;
        margin: 0 auto;
        padding: 75px 20px;
        border: 2px dashed #7C3AED;
        border-radius: 12px;
        background-color: rgba(237, 233, 254, 1);
        margin-bottom: 90px;
    }


    .genarate-div h2 {
        font-size: 30px;
        font-weight: 700;
        color: #7C3AED;
        margin-bottom: 14px;
    }

    .genarate-div h3 {
        font-size: 22px;
        font-weight: 700;
        color: #9F67EA;
    }



    /* Footer related styles */


    .footer-container {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .footer-container .text {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .footer-container p {
        font-size: 14px;
        line-height: 1.6;
    }

    footer {
        padding: 40px 0;
    }

}