* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --primary-color: rgba(87, 87, 87, 1);
    --white-color: #FFFFFF;
}

#header {
    background-color: rgba(255, 255, 255, 1);
    padding: 23px 0;

    /* to fixed navbar*/
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

header .navbar {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-img-div {
    max-width: 134px;
}

nav .nav-img-div img {
    width: 100%;
}

header .nav-ul {
    display: flex;
    gap: 24px;
    text-decoration: none;
}

header .nav-ul .nav-li {
    list-style-type: none;
    font-size: 16px;
    color: var(--primary-color);
    line-height: 26px;
}

header nav .btn {
    font-size: 16px;
    padding: 12px 40px;
    border: none;
    border-radius: 6px;
    color: var(--white-color);
    background-color: #1D4ED8;
    font-weight: 600;
}

.hamburger {
    display: none;
}

.hamburger {
    border: 1px solid #ddddddd5;
    padding: 2px;
    border-radius: 4px;
}



/* Banner Related Styles */

#banner-section {
    padding: 136px 0 79px 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../assets/banner.jpg");
}

.banner-container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.banner-container h2 {
    font-size: 80px;
    font-weight: 700;
    color: var(--white-color);
    margin-bottom: 16px;
    line-height: 80px;
}

.banner-container p {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 16px;
    line-height: px;
    margin-bottom: 278px;
}


.banner-container button {
    font-size: 16px;
    padding: 18px 50px;
    border: none;
    border-radius: 6px;
    color: var(--white-color);
    background-color: #1D4ED8;
    font-weight: 600;
}