* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --primary-color: rgba(87, 87, 87, 1);
    --white-color: #FFFFFF;
}

#header {
    background-color: rgba(255, 255, 255, 1);
    padding: 23px 0;

    /* to fixed navbar*/
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

header .navbar {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-img-div {
    max-width: 134px;
}

nav .nav-img-div img {
    width: 100%;
}

header .nav-ul {
    display: flex;
    gap: 24px;
    text-decoration: none;
}

header .nav-ul .nav-li {
    list-style-type: none;
    font-size: 16px;
    color: var(--primary-color);
    line-height: 26px;

    transition: .3s;

}

header .nav-ul .nav-li:hover {
    transform: scale(1.10);
    color: #1D4ED8;
}

header nav .btn {
    font-size: 16px;
    padding: 12px 40px;
    border: none;
    border-radius: 6px;
    color: var(--white-color);
    background-color: #1D4ED8;
    font-weight: 600;
}

.hamburger {
    display: none;
}

.hamburger {
    border: 1px solid #ddddddd5;
    padding: 2px;
    border-radius: 4px;
}



/* Banner Related Styles */

#banner-section {
    padding: 136px 0 79px 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../assets/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.banner-container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.banner-container h2 {
    font-size: 80px;
    font-weight: 700;
    color: var(--white-color);
    margin-bottom: 16px;
    line-height: 80px;
}

.banner-container p {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 16px;
    line-height: px;
    margin-bottom: 278px;
}


.banner-container button {
    font-size: 16px;
    padding: 18px 50px;
    border: none;
    border-radius: 6px;
    color: var(--white-color);
    background-color: #1D4ED8;
    font-weight: 600;
}




/* Speaker section */


#speakers {
    max-width: 85%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 170px;
}

#speakers .heading h2 {
    font-size: 56px;
    font-weight: 700;
    color: #000102;
    margin-bottom: 56px;
    text-align: center;
}



.speakers-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 33px;
}

.spearker-card {
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    max-width: 662px;
    overflow: hidden;
}



.spearker-card .content {
    padding: 24px;
}

.spearker-card .img {
    height: 324px;
    overflow: hidden;
}

.spearker-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.spearker-card:hover img {
    transform: scale(1.05);
}

.spearker-card p {
    margin-top: 24px;
    color: #2563EB;
    margin-bottom: 8px;
    font-weight: 600;
}

.spearker-card h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #0D1B2A;
}

.spearker-card h4 {
    font-size: 14px;
    line-height: 24px;
    color: #575757;
}




/* Pricing card section styles */

#pricing-section {
    max-width: 75%;
    border: 1px solid #1D4ED8;
    margin: 0 auto;
    margin-bottom: 130px;
}

#pricing-section .pricing-heading {
    text-align: center;
    border: 1px solid red;
    margin-bottom: 48px;
}

#pricing-section .pricing-heading h2 {
    font-size: 56px;
    font-weight: 700;
    color: #000102;
    margin-bottom: 14px;
    text-align: center;
}

#pricing-section .pricing-heading p {
    font-size: 16px;
    color: #575757;
}



#pricing-section .pricing-card-container {
    border: 3px solid black;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}


#pricing-section .pricing-card {
    border: 1px solid red;
    border-radius: 6px;
    max-width: 370px;
    padding: 32px;
}

#pricing-section .pricing-card .last-part li {
    list-style-type: none;
}

.middot {
    width: 6px;
    height: 6px;
    background-color: blue;
    border-radius: 50%;
}

.pricing-li-item {
    display: flex;
    justify-content: start;
    gap: 6px;
    align-items: center;
}

.pricing-card .first-part {
    min-height: 117px;
}

.pricing-card .first-part h4 {
    font-size:13px ;
    font-weight: 600;
}

.pricing-card .card-breaker{
    margin: 20px 0;
}

.pricing-li-item p{
    font-size: 14px;
}